{% extends "base.html" %}
{% block content %}

{% include 'search_form.html' %}

    <table class="table table-striped table-bordered">
        <tr class="table-info">
            <th scope="col">Имя пользователя</th>
            <th scope="col">PID</th>
            <th scope="col">Ресурс</th>
            <th scope="col">Имя файла/папки</th>
            <th scope="col">Дата</th>
        </tr>
    {% for line in smb_lines %}
        <tr>
            <td><a href="/?username={{ line[9] }}">{{ line[9] }}</a></td>
            <td>{{ line[0] }}</td>
            <td>{{ line[6] }}</td>
            <td><a href="/?filename={{ line[7] }}">{{ line[7] }}</a></td>
            <td>{{ line[8] }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}