[Unit]
Description=uWSGI instance to serve smbstat
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/smbstat
Environment="PATH=/var/www/smbstat/venv/bin"
ExecStart=/var/www/smbstat/venv/bin/uwsgi --ini smbstat.ini

[Install]
WantedBy=multi-user.target
