[Unit]
Description=uWSGI instance to serve smbstat
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/user/smbstat
Environment="PATH=/home/user/smbstat/venv/bin"
ExecStart=/home/user/smbstat/venv/bin/uwsgi --ini smbstat.ini

[Install]
WantedBy=multi-user.target
