<!DOCTYPE html>
<html lang="en">
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body class="container-fluid">
<div class="container">
    <h1>{{ page_title }}</h1>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/func.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    {% block content %}{% endblock %}

</div>
</body>
</html>