<div class="card border-primary mt-5">

    <div class="card-header bg-light">
        <h5 class="card-title">Параметры поиска и сортировки</h5>
    </div>

    <form action="/" method="post">
    {{ form.hidden_tag() }}
    <div class="card-body">
        <div class="container">
            <div class="row">

                <div class="col col-md-2">
                    <label for="id_user_names">Имена пользователей:</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="id_user_names" onchange="getUsername(this)">
                        <option value="">Все пользователи</option>
                        {% for user in user_names %}
                            <option value="{{ user }}">{{ user }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col col-md-4">
                        {{ form.username.label }}
                        {{ form.username() }}
                        {{ form.filename.label }}
                        {{ form.filename() }}
                </div>

                <div class="col col-md-4">
                    {{ form.sort_type }}
                </div>

            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="form-check form-check-inline">
            <a href="#" class="btn btn-primary" onclick="cleanFields(); return false;">Сбросить</a>
            <input class="btn btn-primary" type=submit value="Поиск/Сортировка">
        </div>
    </div>
    </form>
</div>
<div class="alert alert-light" role="alert">Найдено {{ records_count }} записей</div>
{% if form.errors %}
    {{ form.errors }}
{% endif %}
